In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:\\Job hunt\\databases\\amazonPrime\\data.csv")

In [4]:
df.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Blondie,movie,"Comedy, Family",1938.0,tt0029927,6.9,886.0,"US, ZA"
1,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8765.0,JP
2,Four Rooms,movie,Comedy,1995.0,tt0113101,6.7,112584.0,"AT, DE"
3,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19300.0,US
4,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2317346.0,"AD, AT, CU, DE, IN, JP, SN"